{% extends "encyclopedia/layout.html" %}

{% block title %}
    Index | Encyclopedia
{% endblock %}

{% block body %}
    <h1>Welcome to my website!</h1>
    <p>This was made as the Project 1 in the CS50’s Web Programming with Python and JavaScript course</p>
    <p>The project is (probably) finished by now!</p>
    <p>There are currently {{ total_entries }} entries</p>

    <h1>All Pages</h1>
    <ul>
        {% for entry in entries %}
            <li><a href="{% url 'wiki:entry' entry %}">{{ entry }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}