{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Welcome to my website!</h1>
    <p>This was made as the Project 1 in the CS50’s Web Programming with Python and JavaScript course</p>
    <p>As I'm still working on it some stuff won't work correctly or even at all</p>
    <p>There are {{ total_entries }} entries right now</p>

    <h1>All Pages</h1>
    <ul>
        {% for entry in entries %}
            <li><a href="{% url 'wiki:entry' entry %}">{{ entry }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}